/* style.css */
.project {
    max-width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.project img {
    max-width: 100%;
    border-radius: 5px;
}

.project h2 {
    margin-top: 10px;
    color: #333;
}

.project p {
    color: #777;
}

.project a {
    display: block;
    margin-top: 15px;
    color: #007BFF;
}
